
* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    padding: 10px;
    background: white;
}

/* Fashion picture size adjustment */
.fashion1 {
    width:30%;
}

/* Logo picture size adjustment */    
.logo1 {     
    width:50%;
}

/* Home imgs styling */
.homeimg1 {
    width: 500px;
    margin-left: 200px
}

.homeimg2 {
    margin-left: 200px
}

.homeimg3 {
    margin-left: 200px;
    height: 400px
}

/* Art imgs styling */
.artimg1 {
    width: 300px;
    height: 300px;
    margin-left: 160px
}

.artimg2 {
    width: 300px;
    height: 300px;
    margin-left: 15px;
}

/* Fashion imgs styling */
.fashionimg1 {
    width: 300px;
    height: 506px;
    margin-left: 160px
}

.fashionimg2 {
    width: 300px;
    height: 506px;
    margin-left: 15px;
}

/* Music imgs styling */
.musicimg1 {
    width: 300px;
    height: 400px;
    margin-left: 160px;
}

.musicimg2 {
    width: 300px;
    height: 400px;
    padding-left: 15px;
}

.musicimg3 {
    width: 300px;
    height: 400px;
    margin-left: 160px; 
}

.musicimg4 {
    width: 300px;
    height: 400px;
    padding-left: 15px;
}


/* Header Title */
.header {
    padding: 30px;
    text-align: center;
    background: #f2f2f2;
}

.header a {
    text-decoration:none;
    color:black;
}

/* Header size */
.header h1 {
    font-size: 50px;
    font-family: Georgia, serif;
}

.titlesfont {
    font-family: Georgia, serif;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style for the top navigation links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change colors when hovering */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two  columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
    border-right: solid #333;
    margin-top: 15px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f2f2f2;
    padding-left: 20px;   
}


/* Add a card effect for articles */
.card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-bottom: solid #333;
    margin-right: 20px;
}

.card a {
    text-decoration: none;
    color:black;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #333;
    margin-top: 15px;
    color: #f2f2f2;
}

/* Responsive layout - when the screen is less than 800px wide, the two columns will stack on top of each other  */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, the navigation links will stack on top of each other  */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

#centerpic {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    display:block;
}
